* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-container {
    background: url('https://images.unsplash.com/photo-1649690040704-d3b3db948ad1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
}

.header-container{
    width: 100%;
    min-height:8%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 25px;
}

.store-name {
    color: white;
}

.nav-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

.navigation li {
    font-size: 1.4rem;
    color: white;

}

.logo-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.logo-img {
    height: 75px;
    width: 75px
}

a {
    text-decoration: none;
    color: white;
}

.home-container{
    height: 100%;
    width: 100%;
}

.motto-container {
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    padding: 0.5rem;
    color: white;
    border: 1px solid white;
}

.motto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.motto-img-container {
    width:50%;
}

.motto-image {
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.store-container {
    display: flex;
    justify-content: space-evenly;
}

.shop-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.8rem;
    flex-wrap: wrap;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 25px;
}

.shopnow-btn {
    border: none;
    font-size: 1.5rem;
    border-radius: 25px;
    padding:1rem;
    color:white;
    border: 1px solid white;
    background-color: black;
    font-weight: 1000;
}

.shopnow-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.cart-container {
    border: 1px solid white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 250px;
    height: 1105px;
    overflow-y: scroll;
    color: white;
}

.cart-title{
    padding: 0.5rem;
}

.cart-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clothes-container{
    border: 1px solid white;
    border-radius: 25px;    
    width: 200px;
    min-height: 350px;
}

.clothes-image {
    height: 200px;
    width: 100%;
    border-radius: 25px;
}

.item-info-container{ 
    color: white;
    padding: 0.5rem;
    height: 100px;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 25px;
}

.add-to-cart-btn {
    width: 100%;
    border: none;
    font-size: 1.1rem;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
}

.add-to-cart-btn:hover {
    transform: scale(1.01);
    cursor: pointer;
    background-color: white;
    color:black;
}

.item-cart {
    border: 1px solid white;
    border-radius: 25px;
    padding-bottom: 1rem;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.item-pic-cart {
    height: 250px;
    width: 100%;
    border-radius: 25px;
}

.checkout-container{
    width: 90%;
}

.checkout-btn {
    font-size: 1.5rem;
    font-weight: 1000;
    background-color: yellowgreen;
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 25px;
}

.checkout-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px; 
}

.decrease-btn {
    font-size: 1.3rem;
    width: 25px;
    height: 35px;
    font-weight: 1000;
    background-color: brown;
    border: 1px solid white;
}

.increase-btn {
    font-size: 1.2rem;
    padding: 0.2rem;    
    width: 25px;
    height: 35px;
    font-weight: 1000;
    background-color: green;
    border: 1px solid white;
}

.quantity {
    font-size: 1.2rem;
    font-weight: 1000;
    padding: 0.3rem;
    border: 2px solid black;
    border: 1px solid white;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    border: 1px solid white;
    border-radius: 25px;
}

.information-container {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 1rem;
}

.address-container {
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.comment-box {
    resize: none;
}

.footer-container {
    text-align: center;
    text-decoration: none;
    color: white;
}