* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-container {
    min-height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
}

.header-container{
    /* border: 1px solid black; */
    width: 100%;
    min-height:8%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.store-name {
    color: red;
}

.nav-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

.navigation li {
    font-size: 1.4rem;
}

.logo-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.logo-img {
    height: 75px;
    width: 75px
}

a {
    text-decoration: none;
    color: black;
}

.home-container{
    border: 1px solid red;
    height: 92%;
    width: 100%;
    padding: 3rem;
}

.motto-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    border-radius: 25px;
    padding: 0.5rem;
}

.motto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.motto-img-container {
    width:50%;
}

.motto-image {
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.store-container {
    display: flex;
    justify-content: space-evenly;
}

.shop-container {
    border: 1px solid red;
    height: 92%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.shopnow-btn {
    border: none;
    font-size: 1.5rem;
    border-radius: 25px;
    padding:1rem;
    background-color: black;
    color:white;
    font-weight: 1000;
}

.shopnow-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.cart-container {
    border: 1px solid blue;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 200px;
    height: 1165px;
    padding-left: 1rem;
    overflow-y: scroll;
    /* transform: translateX(150px); */
}

.cart-container:hover{
    /* transform: translateX(0px); */
}

.cart-title{
    padding: 0.5rem;
}

.cart-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clothes-container{
    border: 1px solid red;
    width: 250px;
    min-height: 350px;
}

.clothes-image {
    height: 200px;
    width: 100%;
}

.item-info-container{ 
    color:red;
    padding: 0.5rem;
    height: 100px;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding:0.5rem;
}

.add-to-cart-btn {
    width: 100%;
    border: none;
    font-size: 1.1rem;
    background-color: black;
    color: white;
}

.add-to-cart-btn:hover {
    transform: scale(1.01);
    cursor: pointer;
    background-color: white;
    color:black;
}

.item-cart {
    border: 2px solid black;
    padding: 0.2rem;
    width: 200px;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.item-pic-cart {
    height: 250px;
    width: 100%;
}

.checkout-container{
    width: 90%;
}

.checkout-btn {
    font-size: 1.5rem;
    font-weight: 1000;
    background-color: yellowgreen;
    border: none;
    border-radius: 15px;
    padding: 0.5rem;
    width: 100%;
}

.checkout-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px; 
}

.decrease-btn {
    font-size: 1.3rem;
    width: 25px;
    height: 35px;
    font-weight: 1000;
    background-color: brown;
    border: none;
}

.increase-btn {
    font-size: 1.2rem;
    padding: 0.2rem;    
    width: 25px;
    height: 35px;
    font-weight: 1000;
    background-color: green;
    border: none;
}

.quantity {
    font-size: 1.2rem;
    font-weight: 1000;
    padding: 0.2rem;
    border: 2px solid black;
}